USE [master]
GO

CREATE DATABASE [PruebaAA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PruebaAA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PruebaAA.mdf' , SIZE = 5382144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PruebaAA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PruebaAA_log.ldf' , SIZE = 6627328KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PruebaAA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PruebaAA]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockHistory](
	[PointOfSale] [nvarchar](50) NULL,
	[Product] [nvarchar](50) NULL,
	[Date] [datetime] NULL,
	[Stock] [int] NULL
) ON [PRIMARY]
GO
USE [master]
GO
